name: Test

on:
  push

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.15.x]
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
      # -
      #   name: Install APT Packages
      #   run: |
      #     sudo apt update
      #     sudo apt-get -V install -y make gcc
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Test
        run: make test

      - name: Codecov
        uses: codecov/codecov-action@v1
